@font-face {
    font-family: 'EHUSerif' ;
    src: url(Assets/Fonts/EHUSerif/EHUSerif-Bold.otf);
    font-weight: 'Bold';
}

@font-face {
    font-family: 'EHUSerif' ;
    src: url(Assets/Fonts/EHUSerif/EHUSerif-Regular.otf);
    font-weight: 'Regular';
}

@font-face {
    font-family: 'Helvetica' ;
    src: url(Assets/Fonts/Helvetica65MediumMedium/Helvetica65-Medium.ttf);
    font-weight: 'Regular';
}

@font-face {
    font-family: 'EHUSans' ;
    src: url(Assets/Fonts/EHUSans/EHUSans-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}




body {
    top: 0;
    font-family: "EHUSerif", sans-serif;
    font-weight: "Regular";
    gap: 0;
    height: fit-content;
    overflow-x: hidden;
    background-color: #000;

}

h1 {
    font-size: 1.8em;
    padding: 0;
    margin: 0;
    width: fit-content;
}
/* Descripción */

.description {
font-family: EHUSans, sans-serif;
display: flex;
flex-direction: column;
padding: 2em;
gap: 2em;
mix-blend-mode: difference;
color: #fafafa;


}



/* Animacion OV */



#anim {
    display: flex;
    padding: 0;
    bottom: 0;
    height: 591px;
    min-height: 591px;
    width: 601px;
    min-width: 601px;
    position: relative;
    order: 3;
    will-change: transform; /* Mejora el rendimiento */


}

#anim2 {
    display: flex;
    position: relative;
    left: 0;
    width: auto;
    padding: 0;
    object-fit:cover;  
    height: 100%;
    mix-blend-mode: difference;
    will-change: transform; /* Mejora el rendimiento */



}


#anim3 {
    display: none;
    position: relative;
    width: 200px;
    height: fit-content;
    top: 200px;
    left: 100px;
    will-change: transform; /* Mejora el rendimiento */





}

#anim4 {
    display: flex;
    position: relative;
    width: 200px;
    top: 40%;
    left: 35px;
    z-index: 999;
    will-change: transform; /* Mejora el rendimiento */



}

#anim5 {
    display: flex;
    position: absolute;
    width: 380px;
    height: auto;
    margin-top: -678px;
    margin-left: -28px;
    left: 0;
    z-index: 9999;
    will-change: transform; /* Mejora el rendimiento */



}

#anim6 {
    display: flex;
    position: relative;
    width: 100%;
    height: fit-content;
    margin-top: -30vw;
    left: 0;
    z-index: 9999;
    will-change: transform; /* Mejora el rendimiento */
    background-color: none;



}



#overlay-light {
    position:absolute;
    width: 100vw;
    height: fit-content;
    background: #fafafa;
    z-index:1;
}

#overlay-dark {
    position:absolute;
    height: 100vh;
    background: #000;
    z-index:3;
}

.content {
    width: 100%;
    height: fit-content;
    padding-top: 1em;
    margin: 0;
    justify-content: space-between;
    gap: auto;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    overflow: hidden;

}

.content > * {
    position: relative;
    mix-blend-mode: difference;
    color: #fafafa;


}


.menu {
    display: flex;
    flex-direction: row;
    order: 3;
}

.submenu {
    display: flex;
    justify-content: flex-start;
    padding-top: 4em;
    flex-direction: column;
    width: 100%;
    order: 4;

}


.submenu .menucard {
    display: flex;
    align-items: center;
    width: auto;
    white-space: nowrap;
    height: 100%;
    max-height: 100px;
    justify-content: space-between;
    gap: auto;
    padding-right: 8em;
    padding-left: 2em;

    color: #fafafa;

    overflow: hidden;
    cursor: pointer;


    transition: scale 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: padding-left 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.submenu .menucard:hover{
    padding-left:65%; 
    color: #fafafa;
    text-decoration: underline;
}

/* .submenu .menucard:hover + * {
    color: #cfcfcf;
}

.submenu .menucard:hover + * + * {
    color: #cfcfcf;
}

.submenu .menucard:has(+ * :hover) {
    color: #cfcfcf;
}

.submenu .menucard:has(+ * + * :hover) {
    color: #cfcfcf;
} */




.divider {
    width: 100%;
    height: 1px;
    background: #fafafa;
    /* margin: 0.2em 0; */
    margin-top: 1em;


}

nav {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    text-transform:uppercase;
    padding: 0;
}



.nav-divider {
    /* margin-top: 1em; */
    margin: 0;
    padding: 0;

}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    padding: 0.5em 2em;
    justify-content: space-between;
}

.row > .col {
    display: flex;
    position: relative;
    width: fit-content;
    /* flex: 1; */
    height: fit-content;
 

}

.row > .col:first.child {
    flex: 2;

}


/* Botón idioma */

.btn-mapa{
    display: flex;
    font-family: 'EHUSans';
    width: 100%;
    font-size: 1.2em;
    height: auto;
    color: #000;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    padding: 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: scale 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: backgoroundColor 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-mapa:hover {
    background-color: #2c2c2c;
    color: #fafafa;
    scale: 1.02;
}

.btnLanguage {
    display: flex;
    height: 4px;
    width: fit-content;
    padding: 0;
    border: none;
    cursor: pointer;
    z-index: 99999;
    align-items: center;

}

.btnLanguage:hover {
   font-weight: bold;
   scale: 1.01;
    
}

/* Segunda parte de contenido */
.contentb {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: auto;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #000;
}




.contentb .description {
    display: flex;
    max-width: 100%;
    height: fit-content;
    width: 100%;
    min-width: 70%;
    overflow: hidden;
    backdrop-filter: blur(10);
    background-color: #000;
}





/* tercera parte de contenido */
.contentc {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: fit-content;
    padding:4em 0;
    gap: 0;
    height: fit-content;
    background-color: #000;
    color: #fafafa;

}


.parrafo {
    font-family: Helvetica;
    font-size: 0.8em;
    font-weight: regular;
}


.map-container {
    width: 100%;
    max-width: 50%;
    padding: 0 1em;
}

.titulo{
    padding: 0 2em;
    background-color: #000;
    z-index: 300px;
}
.titulo p {
    padding: 0 2em;
    background-color: #000;
    z-index: 300px;


}



/* Lista y horarios */

.list {
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
    transform: perspective(3000px);
    width: 100%;
    height: fit-content;
    z-index: 999999;
    gap: 0;
    justify-content: space-between;
    padding: 2em;
    color: #fafafa;

}

a { 
    height: auto;
    text-decoration: none;
    color: #fafafa;
    overflow: hidden;
}

.list .item {
    height: 100px;
    transition: .5s;
    cursor: pointer;
    padding: 1em;
    filter: brightness(0.6);
    overflow: hidden;

}



.list h2 {
    position: relative;
    top: 60%;
    background-color: #000;
    padding: 0.5em;
}

.list h3 {
    position: relative;
    background-color: #fafafa;
    color: #000;
    padding: 0.5em;
    top: 60%;
}


.list p {
    display: flex;
    background-color: #000;
    padding: 1em;
    font-size: 0.8em;

}

#item1{
    background-image: url('Assets/xabier.png.jpg');
    background-size: cover; /* Optional: makes the image cover the entire background */
    background-repeat: no-repeat; /* Optional: prevents tiling of the image */
    background-position: center; /* Optional: centers the image */
}

#item2{
    background-image: url('Assets/images/favicon.ico');
    background-size: cover; /* Optional: makes the image cover the entire background */
    background-repeat: no-repeat; /* Optional: prevents tiling of the image */
    background-position: center; /* Optional: centers the image */
}

#item3{
    background-image: url('Assets/images/lola.jpg');
    background-size: cover; /* Optional: makes the image cover the entire background */
    background-repeat: no-repeat; /* Optional: prevents tiling of the image */
    background-position: center; /* Optional: centers the image */
}

#item4{
    background-image: url('Assets/images/bedia.jpg');
    background-size: cover; /* Optional: makes the image cover the entire background */
    background-repeat: no-repeat; /* Optional: prevents tiling of the image */
    background-position: center; /* Optional: centers the image */
}

#item5{
    background-image: url('Assets/images/miren.jpg');
    background-size: cover; /* Optional: makes the image cover the entire background */
    background-repeat: no-repeat; /* Optional: prevents tiling of the image */
    background-position: center; /* Optional: centers the image */
}

.list img {
    display: flex;
    position: relative;
    width: 200px;
    height: auto;
}


.list .item:hover{
    /* transform: translateZ(200px); */
    filter: brightness(1);
    height: fit-content;

}

.list .item:hover + * {
    /* transform: translateZ(70px) rotateY(40deg);
    filter: brightness(0.4); */
    height: 100px;


}

.list .item:hover + * + * {
    /* transform: translateZ(150px) rotateY(20deg);
    filter: brightness(0.6); */
    height: 100px;

}

.list .item:hover + * + * + * {
    /* transform: translateZ(30px) rotateY(10deg);
    filter: brightness(0.2); */
    height: 100px;


}

.list .item:has(+ * :hover){
    /* transform: translateZ(150px) rotateY(-40deg);
    filter: brightness(0.6); */
    height: 100px;


}

.list .item:has(+ * + *:hover){
    /* transform: translateZ(70px) rotateY(-20deg);
    filter: brightness(0.4); */
    height: 100px;


}

.list .item:has(+ * + * + *:hover){
    /* transform: translateZ(30px) rotateY(-10deg);
    filter: brightness(0.2); */
    height: 100px;


}

.marquee {
    display: flex;
    position: relative;
    width: 100%;
    margin: auto;
    height: 100%;
    max-height: 180px;
    white-space: nowrap;
    overflow: hidden;
    z-index: 3;


 order: 2;
}

.marquee span {
    font-family: "EHUSans";
    font-weight: 400;
    letter-spacing: -10px;
    color: #fafafa;
    mix-blend-mode:  normal !important;
    font-size: 12em;
    text-transform:none;
    display: inline-block;
    padding-left: 80%;
    animation: marquee-animation 80s linear infinite;
}

@keyframes marquee-animation {
    0% {
        transform: translate(0,0);
    } 100% {
        transform: translate(-100%, 0);
    }
}

.marqueefooter {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 0; 
    width: 100%;
    gap: 0;
    padding: 4em;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    z-index: 4;
    background-color: #fafafa;


}

.marqueefooter h2 {
height: 100%;
font-size: 16px;
margin-bottom: 2em;
border-bottom: 1px solid #000;
align-items: center;
}

.marqueefooter span {
    display: flex;
    font-family: "EHUSans";
    flex-direction: row;
    font-weight: 400;
    letter-spacing:normal;
    color: #000;
    height: fit-content;
    align-items: center;
    mix-blend-mode:  normal !important;
    font-size: 2em;
    text-transform: uppercase;
    display: inline-block;
    padding-left: -10%;
    animation: marquee-footer-animation 80s linear infinite;
}



@keyframes marquee-footer-animation {
    0% {
        transform: translate(0,0);
    } 100% {
        transform: translate(-100%, 0);
    }
}

.content img {
    position: relative;
    top: 40px;
    width: 200px;

}


/* footer */


footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    height: fit-content;
    z-index: 8;
    background-color: #fafafa;


}

footer > * {
    display: flex;
}




/* form */


form {
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    padding: 4em 2em 4em 2em;
    gap: 1em;
    background-color: #fafafa;
    z-index: 8;
    overflow: hidden;
}


form > * {
    display: flex;
    border: none;
    width: 80%;


}

form legend {
    font-family: 'Helvetica', sans-serif;
    padding-bottom: 1em;
}

form .fieldsetCheckbox {
    display: flex;


}

form .checkbox {
    display: flex;
    align-items: center;

}

form #form-group-checkbox {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

}


form .form-group {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-direction: row;


}


form input {
    display: flex;
    width: 70%;
    margin-top: 1em;
    height: 30px;

}

form label {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    height: 30px;
    justify-content: flex-start;
    gap: 1em;
    white-space: wrap;
    font-family: 'Helvetica', sans-serif;

    

}

form label input {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 200px;
}


.btn {
    display: flex;
    font-family: 'EHUSans';
    width: 80%;
    font-size: 1.2em;
    height: auto;
    color: #fafafa;
    align-items: center;
    justify-content: center;
    background-color: #000;
    padding: 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: scale 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: backgoroundColor 2s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.btn:hover {
    background-color: #cacaca;
    color: #000;
}



/* mouse scroller */

#mouseIcon {
    position: fixed;
    width: 40px;
    height: 60px;
    left: 48vw;
    bottom: 4vh;
    background-color: #000;
    border: 2px solid #fafafa;
    border-radius: 50px;
    mix-blend-mode: normal !important;
    z-index: 2;
    opacity: 0;


}

#mouseIcon:after {
    position: absolute;
    top: 8%;
    width: 20%;
    height: 30%;
    content: '';
    left: 38%;
    align-self: center;
    background-color: #fafafa;
    border-radius: 16px;
    animation: mouse 2s infinite;
}

@keyframes mouse {
    0% {
        opacity: 1;
        top: 8%;
    } 
    100% {
        opacity: 0;
        top: 40%;
    }

}



@media screen and (max-width: 800px) {

.contentc {
    flex-direction: column;
    gap: 2em;
}

.map-container {
    max-width: 100%;
}


.btn {
    width: 100%;
}

form > *{
    width: 100%;
}

form input {
    width: 100%;
}

.description {
    padding: 2em 2em;
}


}

@media screen and (max-width: 400px) {



    

    #anim5 {
        width: 100%;

    }
  
    .contentb {
    flex-direction: column; 
    height: fit-content; 
  }

  .contentb .description {
    height: fit-content;
  }
  

  }
  